body {
 background-color: #f1efef54;
}

.title {
 display: flex;
 justify-content: center;
 gap: 20px;
 margin-bottom: 40px;
}

.input::placeholder {
 padding-left: 10px;
}

.input[type=text] {
 padding: 5px;
}

.task-wrapper  {
 display: flex;
 flex-direction: row;
 gap: 30px;
}

.sub-task-wrapper {
 display: flex;
 flex-direction: column;
 gap: 30px;
}

.task {
 display: flex;
 flex-direction: column;
 gap: 40px;
}

.add-sub-task-wrapper {
 display: flex;
 flex-direction: row;
 gap: 10px;
}

.task-buttons-wrapper {
 display: flex;
 gap: 10px;
 align-items: center;
}

.title-task {
 color: white;
 padding: 10px;
 background-color: rgb(254,161,118);
 border-radius: 2px;
}

button {
 display: flex;
 align-items: center;
 justify-content: center;

 cursor: pointer;
 padding: 5px;
 color: white;
 border: none;
 border-radius: 50%;
 background-color: #bdbbbb;
}

.delete-button {
 background-color: #f34c91;
}

.is-completed-wrapper {
 border: none;
 background-color: white;
}

.not-completed {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 5px;

 padding: 5px;
 background-color: #f34c91;
}

.completed {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 5px;

 padding: 5px;
 background-color: #5eab5e;
}

.subtask-title {
 color: white;
 padding: 10px;
 background-color: #7cc2dc;
 border-radius: 2px;
}